[opener]
dragndrop = [{ run = 'uwsm-app -- ripdrag "$@"', desc = "drag and drop" }]
open = [{ run = 'uwsm-app -- xdg-open "$@"', orphan = true, desc = "Open" }]
open_image = [
      { run = 'uwsm-app -- swayimg "$@"', orphan = true, desc = "Open with swayimg" },
      # { run = 'gimp "$@"', orphan = true, desc = "Open with GIMP" },
      { run = 'uwsm-app -- loupe "$@"', orphan = true, desc = "Open with Image Viewer" },
      # { run = 'shotwell "$@"', orphan = true, desc = "Open with shotwell" },
]
# open_pdf = [{ run = 'zathura "$@"', orphan = true, desc = "Open with zathura" }]
reveal = [{ run = 'uwsm-app nautilus "$@"', desc = "Reveal", for = "linux" }]
edit = [{ run = 'uwsm-app -- nvim "$@"', block = true, for = "unix" }]
nomacs = [{ run = 'uwsm-app -- nomacs "$@"',desc = "nomacs"}]
opencomic = [{ run = 'mcomix "$@"',desc = "mcomix"}]
extract = [
      { run = 'uwsm-app -- ouch d -y "$@"', desc = "Extract here with ouch", for = "unix" },
]


[open]
rules = [
      # Multiple openers for a single rule
      { name = "*.html", use = ["edit", "open", "reveal"] },
      { name = "*.cbz", use = [ "opencomic", "reveal", "extract"] },
      { name = "*.pdf", use = ["open", "open_pdf", "reveal"] },
      # Folder
      { name = "*/", use = ["dragndrop", "reveal", "nomacs"] },
      # Text
      { mime = "text/*", use = ["edit", "reveal"] },
      # Image
      { mime = "image/*", use = ["open_image", "reveal"] },
      # Media
      { mime = "{audio,video}/*", use = ["play", "reveal"] },
      # Archive
      { name = "*.{zip,rar,7z*,tar,xz}", use = ["extract", "reveal"] },
      # JSON
      { mime = "application/{json,ndjson}", use = ["edit", "reveal"] },
      { mime = "*/javascript", use = ["edit", "reveal"] },
      # Empty file
      { mime = "inode/empty", use = ["edit", "reveal"] },
      # Fallback
      { name = "*", use = ["open", "reveal",  "dragndrop"] },
]

[plugin]
prepend_previewers = [
  # { mime = "image/*", run = "noop" },
  # { mime = "video/*", run = "noop" },
  # Replace magick, image, video with mediainfo
  { mime = "{audio,video,image}/*", run = "mediainfo"},
  { mime = "application/subrip", run = "mediainfo" },
  # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
  { mime = "application/postscript", run = "mediainfo" },
]

prepend_preloaders = [
  # { mime = "image/*", run = "noop" },
  # { mime = "video/*", run = "noop" },
  # Replace magick, image, video with mediainfo
  { mime = "{audio,video,image}/*", run = "mediainfo" },
  { mime = "application/subrip", run = "mediainfo" },
  # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
  { mime = "application/postscript", run = "mediainfo" },
]


[mgr]
show_hidden = true
ratio = [1, 4, 3]
sort_by = "mtime"
sort_reverse = true

[preview]
wrap = "no"
tab_size = 2
max_width = 1080
max_height = 900
cache_dir = "~/.cache/yazi"
image_delay = 0
image_filter = "lanczos3"
image_quality = 90
sixel_fraction = 15
ueberzug_scale = 1
ueberzug_offset = [0, 0, 0, 0]

